# Project exclude paths
/project/project/target/
/project/target/
/target/
/target/scala-2.13/classes/
/src/main/resources/*
!/src/main/resources/dataZip
!/src/main/resources/Data/
/src/main/resources/Data/*


*.iml
*.swp
*~
.bsp
.DS_Store
.cache
.classpath
.idea/
.idea_modules/
.project
.scala_dependencies
.settings
dependency-reduced-pom.xml
scalastyle-on-compile.generated.xml
scalastyle-output.xml
scalastyle.txt
spark-warehouse
